.whatsapp-container{
    position: fixed;
}
.whatsapp-container a{
    text-decoration: none;
    position: fixed;
    bottom:60px;
right: 30px;
display: block;
background-color: green;
width: 60px;
height: 60px;
border-radius: 100%;
}

.whatsapp-container i{
    font-size: 1.8em;
    color: white;
    padding: 15px;
}